/*
Theme Name: GWD Starter Child Theme
Author: Eric Girouard
Author URI: https://graphicandwebdesign.ca/
Description: Default theme builder exercise
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: starter 
Text Domain: gwdstarter
Template: gwd-starter-theme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* FONT FACES */

@font-face {
  font-family: 'Ubuntu Condensed';
  src: url("fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.woff2")  format("woff2"),
       url("fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf")  format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("fonts/Ubuntu/Ubuntu-Regular.woff2")  format("woff2"),
       url("fonts/Ubuntu/Ubuntu-Regular.ttf")  format("ttf");
  font-weight: normal;
}



@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web Black'), local('TitilliumWeb-Black'),
     url('fonts/titillium/TitilliumWeb-Black.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-Black.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web Bold Italic'), local('TitilliumWeb-BoldItalic'),
     url('fonts/titillium/TitilliumWeb-BoldItalic.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-BoldItalic.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'),
     url('fonts/titillium/TitilliumWeb-ExtraLight.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-ExtraLight.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
     url('fonts/titillium/TitilliumWeb-Bold.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-Bold.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web ExtraLight Italic'), local('TitilliumWeb-ExtraLightItalic'),
     url('fonts/titillium/TitilliumWeb-ExtraLightItalic.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-ExtraLightItalic.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
     url('fonts/titillium/TitilliumWeb-Regular.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-Regular.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web Light Italic'), local('TitilliumWeb-LightItalic'),
     url('fonts/titillium/TitilliumWeb-LightItalic.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-LightItalic.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
     url('fonts/titillium/TitilliumWeb-SemiBold.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-SemiBold.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'),
     url('fonts/titillium/TitilliumWeb-Italic.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-Italic.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
     url('fonts/titillium/TitilliumWeb-Light.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-Light.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: local('Titillium Web SemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'),
     url('fonts/titillium/TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
     url('fonts/titillium/TitilliumWeb-SemiBoldItalic.woff') format('woff'),
     url('fonts/titillium/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}








/* COLOR PALETTE */

:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-fg-color: #444;
  --titles-color: #1c0263;
  --bodytext-color: #444444;

  --zelinsky-blue: #274C77;
  --zelinsky-pale-blue: #6096BA;
  --zelinsky-palest-blue: #A3CEF1;


}

/* END COLOR PALETTE */

/* DEFAULT STYLES FOR ALL VIEWPORT SIZES */
/* Extra-Small devices (portrait phones, less than 576px)  */


img {max-width: 100%; height: auto;}

.custom-logo {width: 150px; height: 150px;}

body {
  font-size: 100%;
  font-family: sans-serif;
  /* background-image: url("img/twitter.svg"); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--titles-color);
  font-weight: bold;
}

main ul {list-style-position: inside; list-style-type: none;}


main ul li::before {
	display: block;
	width: 1.5em;
	position: absolute;
	left: -1.5em;
	background-image: url(img/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 1em;
	content: " ";
	top: 0.125em;
}

/* ul {list-style-image: url("img/twitter.svg"); }  */

/* Classic Typographic Scale https://spencermortensen.com/articles/typographic-scale/  */

h1 { font-size: 2em; text-transform: uppercase;}
h2 { font-size: 1.7411em; text-transform: uppercase;}
h3 { font-size: 1.5157em; }
h4 { font-size: 1.3195em; }
h5 { font-size: 1.1487em; }
p { font-size: 1em; }
footer { font-size: .8706em; }


/* Typographic Margins & Spacing */


h1 {margin-bottom: 2em; }
h2 {margin: 1.7411em 0 0 1rem; }
h3 {margin: 1.5157em 0 0 1rem; }
h4 {margin: 1.3195em 0 0 1rem; }
h5 {margin: 1.1487em 0 0 1rem; }
p {margin: 1em 0 0 1em}
ul, ol {margin: 0.75rem 0 0 2rem; }
li {margin: 0 0 0 1rem; line-height: 1.5}

h1 + h2, h2 + h3 {margin: 0 0 0.75em 1rem;}

ul + p {margin: 1rem 0 1rem 2rem;}

ul + h3 {
	margin-top: 4.5rem;
}

h3 + h4 {margin: 0 0 0 1rem;}

h2 + p {
  margin: 0.75rem 0 1rem 1rem;
}

body,
p,
li,
a { font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p { max-width: 70ch;}

header, footer {background-color: var(--zelinsky-blue); color: #ffffff; }

nav ul li a:link {
  color:rgb(255, 255, 255);
  text-decoration: none;
  }

#menu-header-menu {
	display: flex;
	flex-direction: row;
	padding: 0 1em;
	align-items: flex-end;
	border: 1px solid red;
	justify-content: flex-end;
}






/* END DEFAULT STYLES FOR ALL VIEWPORT SIZES */

/* --------------------------------------
   MEDIA QUERIES FOR LARGER VIEWPORTS
----------------------------------------- */

/* No media query for "extra small" since this is the default  
   The following media query sizes are taken from Bootstrap 5
   See: https://getbootstrap.com/docs/5.1/layout/breakpoints/
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  main {width: 960px; padding: 1em;  margin: 1em auto;}

  body.thumbs main {  
    display: grid;  
    grid-column-gap: 10px;  
    grid-template-columns: auto auto;   
    padding: 10px;  
  } 
  

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}